/* okienko typu popup informujące o błędzie formularza */
.message-error {
  display: none;
  position: fixed;
  z-index: 999999;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  width: 400px;
  height: 200px;
  padding: 15px;
  background: linear-gradient(45deg, black, gray, white);
  border: 3px solid black;
  border-radius: 5px;
}
.message-error .header-error {
  position: relative;
  text-transform: uppercase;
  text-align: center;
}
.message-error .header-error::after {
  content: '';
  position: absolute;
  margin-top: 2.5px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100px;
  height: 5px;
  background: crimson;
}
.message-error .text-error {
  color: white;
  text-align: justify;
}
.message-error .row-accepted-error {
  margin-top: 7px;
  text-align: center;
}
.message-error .row-accepted-error .accepted-error {
  width: 100px;
  height: 30px;
  background: white;
  border: 2px solid black;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
}
/* style dla okładki i opisu danej gry */
.section .article .container-games {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.section .article .container-games::-webkit-scrollbar {
  width: 10px;
}
.section .article .container-games::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);
}
.section .article .container-games::-webkit-scrollbar-thumb {
  background: rgba(0, 75, 100, 0.5);
  border-radius: 5px;
}
.section .article .container-games .row-with-game {
  width: 100%;
  height: 200px;
  display: flex;
}
.section .article .container-games .row-with-game:not(.non-border-top) {
  margin-top: 15px;
}
.section .article .container-games .row-with-game .logo-game {
  width: 150px;
  height: 100%;
  border: 3px solid #080808;
  border-radius: 5px;
  margin-right: 15px;
}
.section .article .container-games .row-with-game .logo-game img {
  width: 100%;
  height: 100%;
}
.section .article .container-games .row-with-game .describe {
  color: #080808;
  font-weight: 600;
  font-size: 17.2px;
  width: 395px;
  height: 95%;
  border: 3px solid #080808;
  border-radius: 5px;
  padding: 5px;
}
.section .article .container-games .row-with-game .fa-info {
  align-self: center;
  color: black;
  font-size: 50px;
  margin-left: 30px;
  cursor: pointer;
}
.opened-message-error::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 998;
}
html {
  font-family: 'Lato', sans-serif;
}
body {
  margin: 0;
  background: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.header {
  height: 100px;
  width: 100%;
  position: relative;
}
.header .main-header {
  position: absolute;
  color: white;
  top: 70%;
  transform: translateY(-70%);
  text-shadow: 3px 3px 10px black;
  letter-spacing: 3px;
  margin: 0;
}
.header .social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 10%;
  position: absolute;
  top: 70%;
  right: 5%;
  transform: translate(-5%, -70%);
  border-bottom: 1.5px solid#383838;
}
.nav {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  height: 50px;
  border-radius: 15px;
}
.nav ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 15px;
}
.nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 25%;
  height: 100%;
  list-style-type: none;
}
.nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
}
.nav ul li a::after {
  content: '';
  display: block;
  margin-top: 5px;
  width: 0;
  height: 3px;
  background: #383838;
  transition: width 300ms;
}
.nav ul li a:hover::after {
  width: 100%;
}
.section {
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 600px;
  background: transparent;
  border-radius: 15px;
}
.section .left-menu {
  width: 30%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  margin-right: 10px;
  border-radius: 15px;
}
.section .left-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.section .left-menu ul li {
  list-style-type: none;
}
.section .left-menu ul a {
  position: relative;
  display: block;
  height: 50px;
  width: 175px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  color: black;
  text-transform: lowercase;
  line-height: 50px;
  text-align: center;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  transform: skewX(-15deg);
  z-index: 1;
}
.section .left-menu ul a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  background: #666;
  border-radius: 7px;
  z-index: -1;
  transition: width, height 300ms, 300ms;
}
.section .left-menu ul a:hover::after {
  width: 100%;
  height: 100%;
}
.section .article {
  width: 70%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
}
.section .article .header-about-website {
  border-bottom: 3px solid black;
  text-align: center;
  padding-bottom: 13px;
}
.section .article .about-site {
  color: #080808;
  font-size: 19px;
  font-weight: 600;
  text-align: justify;
}
.section .article .container-video-gameplay {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 12.5px;
  box-sizing: border-box;
}
.section .article .container-video-gameplay::-webkit-scrollbar {
  width: 10px;
}
.section .article .container-video-gameplay::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.9);
}
.section .article .container-video-gameplay::-webkit-scrollbar-thumb {
  background: rgba(0, 75, 100, 0.5);
  border-radius: 5px;
}
.section .article .container-video-gameplay .gameplay-header {
  font-size: 35px;
  text-align: center;
}
.section .article .container-video-gameplay .gameplay-header .fa-video {
  margin-left: 5px;
}
.section .article .container-video-gameplay .gameplay-header::after {
  content: '';
  display: block;
  width: 75%;
  height: 4px;
  background: black;
  margin: 7.5px auto;
}
.section .article .container-video-gameplay .row-with-gameplay {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 7.5px;
}
.section .article .form {
  margin: 15px;
}
.section .article .form .contact-header {
  color: deepskyblue;
}
.section .article .form .row {
  position: relative;
  margin-bottom: 15px;
}
.section .article .form .row label {
  font-size: 20px;
  font-weight: 700;
  color: black;
}
.section .article .form .counter {
  display: none;
  margin-bottom: 15px;
}
.section .article .form .counter .counter-of-chars {
  font-size: 20px;
  font-weight: 700;
}
.section .article .form input[type="text"],
.section .article .form input[type="email"] {
  width: 300px;
  height: 50px;
  outline: none;
  border: 1.5px solid black;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 5px;
}
.section .article .form input[name="forename"] {
  margin-left: 83px;
}
.section .article .form input[name="email"] {
  margin-left: 82px;
}
.section .article .form input[name="subject"] {
  margin-left: 120px;
}
.section .article .form textarea {
  margin-left: 127px;
  width: 300px;
  height: 150px;
  resize: none;
  outline: none;
  border: 1.5px solid black;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 5px;
}
.section .article .form button[type="submit"] {
  margin-left: 180px;
  width: 150px;
  height: 50px;
  border: none;
  font-weight: 700;
  transition: background-color 1s;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.section .article .form button[type="submit"]:hover {
  background: #009933;
}
.section .article .form button[type="reset"] {
  width: 150px;
  height: 50px;
  border: none;
  font-weight: 700;
  transition: background-color 1s;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.section .article .form button[type="reset"]:hover {
  background: #990000;
}
.footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}
.footer .content-footer {
  align-self: center;
  font-size: 20px;
  font-weight: 900;
}
/* klasa do dynamicznego okienka z informacjami o grze */
.close-window {
  display: block;
  position: absolute;
  top: 0;
  right: 2.5%;
  transform: translateX(2.5%);
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.close-window .fa-times {
  position: absolute;
  font-size: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* klasy do walidacji pól na żywo oraz dla efektów animacji */
.bad {
  background: rgba(207, 0, 15, 0.7);
  z-index: 999;
}
.green {
  background: rgba(38, 166, 91, 0.7);
  z-index: 999;
}
/* Responsive Web Design */
@media all and (max-width: 1000px) {
  body {
    padding: 10px;
  }
  .section .article .about-site {
    font-size: 18px;
  }
}
@media all and (max-width: 900px) {
  .section .article .about-site {
    font-size: 17px;
  }
  .section .article .container-games {
    box-sizing: border-box;
    padding: 5px;
  }
  .section .article .container-games .row-with-game .describe {
    font-size: 16px;
  }
}
@media all and (max-width: 800px) {
  .section .left-menu .menu li a {
    margin-left: -5px;
  }
  .section .article .about-site {
    font-size: 15px;
  }
  .section .article .container-games .row-with-game .describe {
    font-size: 15px;
  }
}
@media all and (max-width: 750px) {
  .header .social-media a {
    margin: 5px;
  }
  .section {
    flex-direction: column;
  }
  .section .left-menu {
    width: 100%;
    height: 75px;
    margin-bottom: 10px;
  }
  .section .left-menu .menu {
    flex-direction: row;
    align-items: center;
  }
  .section .left-menu .menu li a {
    width: 100px;
    font-size: 16px;
  }
  .section .article {
    width: 100%;
  }
  .section .article .about-site {
    font-size: 16px;
  }
  .section .article .form input[type="text"],
  .section .article .form input[type="email"] {
    max-width: 500px;
  }
  .section .article .form textarea {
    max-width: 500px;
  }
}
@media all and (max-width: 645px) {
  header .social-media a {
    margin: 5px;
  }
  .nav .menu li a {
    font-size: 15px;
  }
}
@media all and (max-width: 600px) {
  .section .article .about-site {
    font-size: 15px;
  }
  .section .left-menu .menu li a {
    font-size: 9px;
    font-weight: 900;
    width: 58px;
  }
}
@media all and (max-width: 570px) {
  .section .article .container-games .row-with-game .describe {
    font-size: 13px;
  }
}
@media all and (max-width: 530px) {
  .header .social-media a {
    margin: 5px;
  }
  .nav .menu li a {
    font-size: 12px;
    font-weight: 900;
    text-align: center;
  }
  .section {
    height: 700px;
  }
  .section .left-menu .menu li a {
    font-size: 10px;
    width: 65px;
  }
  .section .article .form .row label {
    display: block;
  }
  .section .article .form .row input[type="text"],
  .section .article .form .row input[type="email"] {
    margin: 5px 0 0 5px;
    width: 90%;
    font-size: 30px;
  }
  .section .article .form .row textarea {
    margin: 5px 0 0 5px;
    width: 90%;
    font-size: 30px;
  }
  .section .article .form .row button[type="submit"] {
    margin-left: 5px;
  }
}
@media all and (max-width: 450px) {
  .header {
    display: flex;
    justify-content: center;
  }
  .header .main-header {
    text-shadow: 15px 15px 7.5px black;
  }
  .header .social-media {
    display: none;
  }
  .nav {
    border-radius: 0;
  }
  .nav .menu ul li a {
    width: 20px;
  }
  .section {
    border-radius: 0;
  }
  .section .left-menu {
    height: 50px;
    border-radius: 0;
  }
  .section .left-menu .menu li a {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 15px;
    transform: skewX(0deg);
    border: none;
    background: none;
    text-transform: uppercase;
    line-height: 40px;
    cursor: pointer;
  }
  .section .left-menu .menu li a::after {
    content: '';
    position: absolute;
    top: 85%;
    display: block;
    width: 100%;
    height: 3px;
    background: #666;
  }
  .section .article {
    border-radius: 0;
  }
  .section .article .about-site {
    font-size: 13.50px;
  }
  .section .article .form .row button[type="submit"] {
    width: 100px;
    height: 50px;
  }
  .section .article .form .row button[type="reset"] {
    width: 100px;
    height: 50px;
  }
  .section .article .form .message-error {
    width: 300px;
    height: 150px;
    font-size: 12px;
  }
  .section .article .container-games .row-with-game {
    flex-direction: column;
  }
  .section .article .container-games .row-with-game .logo-game {
    border: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 750;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .section .article .container-games .row-with-game .logo-game::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 5px;
    background: black;
    box-shadow: 5px 5px 25px 10px rgba(0, 0, 0, 0.7);
  }
  .section .article .container-games .row-with-game .fa-info {
    display: none;
  }
  .section .article .container-games .row-with-game .describe {
    font-size: 11.75px;
    width: 90%;
    align-self: center;
  }
  .footer {
    border-radius: 0;
  }
  .footer .content-footer {
    font-size: 16.5px;
  }
}
@media all and (max-width: 360px) {
  .section .article .about-site {
    font-size: 13px;
  }
  .section .article .container-games .row-with-game .describe {
    font-size: 11.3px;
  }
}
@media all and (max-width: 330px) {
  .section .article .about-site {
    font-size: 12.5px;
  }
  .section .article .container-games .row-with-game .describe {
    font-size: 10px;
  }
  .footer .content-footer {
    font-size: 15px;
  }
}
